.navbar{
  background-color: #D1E8E4;
}
.dropdown-toggle {
  cursor: pointer;
}
.navbar-collapse{
  justify-content: end;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.navbar-brand{
  font-size: xx-large;
    font-weight: 900;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
