<nav class="navbar navbar-expand-md mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/">OSHOP</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse"
      [class.collapse]="isCollapsed"
      id="navbarCollapse"
    >
      <ul class="navbar-nav mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart"
            >Shopping Cart
            <span class="badge rounded-pill bg-success">{{
              ShoppingCartItem
            }}</span>
          </a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <login></login>
            <!-- <button type="button"  class="nav-link btn login-btn" (click)="open(content)">Log in</button> -->
            <!-- <a  class="nav-link" routerLink="/login">Log in</a> -->
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Launch static backdrop modal
            </button> -->
          </li>
        </ng-template>
        <li
          ngbDropdown
          *ngIf="User; else anonymousUser"
          class="nav-item dropdown"
        >
          <a
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ User.name }}
          </a>
          <ul
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            </li>
            <ng-container *ngIf="User.isAdmin">
              <li>
                <a class="dropdown-item" routerLink="/admin/orders"
                  >Manage Orders</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/admin/products"
                  >Manage Products</a
                >
              </li>
            </ng-container>

            <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
