
<div *ngIf="product.title" class="card p-3 mb-5" [style.width]="cardWidth">
  <img [src]="product.imageUrl" class="card-img-top" style="height: 220px" />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency: "USD":"symbol" }}</p>
  </div>
  <div *ngIf="showBtn" class="card-footer">
    <button (click)="addToCart(product)" class="btn btn-primary card-btn col-12">
      Add to Cart
    </button>
            <div>{{ getQuantity() }}</div>

  </div>
</div>
