<p><a routerLink="/admin/products/new" class="btn btn-primary">New Products</a></p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of filterProducts">
            <td>{{ p.title }}</td>
            <td>${{ p.price }}</td>
            <td>  <button class="btn btn-primary" [routerLink]="['/admin/products',p.$key]">Edit</button> </td>
        </tr>
    </tbody>
</table>